<div data-role="page" id="page_create" data-dom-cache="true" >
  <form>
  <label for="basic">Login ID:</label>
  <input type="email" placeholder="sophie@example.com" id="creat_id">
  <label for="basic">Password:</label>
  <input type="password" id="create_pw1">
  <label for="basic">Password: (Enter one more time)</label>
  <input type="password" id="create_pw2">
  <label for="basic">First Name:</label>
  <input type="text" id="create_first_name">
  <label for="basic">Last Name:</label>
  <input type="text" id="create_last_name">
  <input type="button" onclick="createAccount()" value="Create Account">
  <a href="#page_login">Go to Login</a>
  <div class="notice"></div>
  </form>
</div> <!--/page_create-->