<div data-role='page' id='page_main' data-dom-cache='true' >
	<form>
		<label for='basic'>Login ID:</label>
		<input type='email' placeholder='sophie@example.com' id='main_id'>
		<label for='basic'>Password:</label>
		<input type='password' id='main_pw'>
		<input type='button' onclick='login()' value="Login">
		<!--a href='#page_session_main'>Go to Session(temporarily)</a><br-->
		<a href='#page_reset_phase_1'>Go to Reset Password</a><br>
		<a href='#page_create'>Go to Create Account</a><br>
		<div class='notice'></div>
	</form>
</div>