<div data-role="page" id="page_session_account_edit" data-dom-cache="true" >
  <label for="basic">Password:</label>
  <input type="password" id="session_pw1">
  <label for="basic">Password: (Enter one more time)</label>
  <input type="password" id="session_pw2">
  <label for="basic">First Name:</label>
  <input type="text" id="session_first_name">
  <label for="basic">Last Name:</label>
  <input type="text" id="session_last_name">
  <input type="button" onclick="changeAccountInfo()" value="Change Account Info">
  <a href="#page_session_main">Go Back</a>
  <div class="notice"></div>
</div> <!--/page_session_account_edit-->